<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AutoTuneEntities" connectionString="metadata=res://*/Db.AutoTune.csdl|res://*/Db.AutoTune.ssdl|res://*/Db.AutoTune.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-FETCMQE4\SQLEXPRESS;initial catalog=AutoTune;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>